$background_color: #4bb85d;

h1 {
  color: white;
  text-align: center;
  background-color: $background_color;
  font-size: 300%;
  font-weight: bold;
  font-family:"Lato", sans-serif;
}

body {
font-family: "Lato", sans-serif;
}

.sidenav {
width: 130px;
position: fixed;
z-index: 1;
top: 20px;
left: 10px;
background-color: $background_color;

overflow-x: hidden;
padding: 8px 0;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #4d9458;
display: block;
}

.sidenav a:hover {
color: #064579;
}

.main {
margin-top: auto;
margin-left: 140px;
font-size: 28px;
padding: 0px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

div {
    p {
        color: black;
    }
}

%message {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  padding:20px;
  margin: 20px;
}

.success {
  @extend %message;
  background-color: green;
}

.warning {
  @extend %message;
  background-color: orange;
}

.error {
  @extend %message;
  background-color: red;
}
